{{ $data := index site.Data site.Language.Lang }}

{{ if $data.homepage.homepage.enable }}
{{ with $data.homepage.homepage }}
<section id="contact">
<div class="container">

  <div class="section-title text-center">
            
    <h2>{{  .contacttitle }} </h2>
  
    </div>
     
    <div class="col-md-12 text-center">
       
        
        <div class="contact-items">
          <h6>{{ .elable }}: </h6><b><p><a href="mailto:{{ .email }}" style="text-decoration: none; color: #707070;">{{ .email }}</a></p></b> <br>
          <h6>{{ .tlable }}: </h6><b><p><a href="tel:{{ .telefon }}" style="text-decoration: none; color: #707070;">{{ .telefon }}</a></p></b><br>
          <h6>{{ .slable }}: </h6><b><p><a href="skype:{{ .skype }}?call" style="text-decoration: none; color: #707070;">{{ .skype }}</a> </p></b>
        </div>   
    </div>

    <div class="col-md-10 offset-md-1 contact-form"> 
      <h6 class="text-center" style="padding: 2rem 0;">{{ .formtext }}</h6>
     <form class="row g-3" name="contact" method="POST"  netlify-honeypot="bot-field" data-netlify="true">
      <p class="hidden">
        <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
      </p>
        <div class="col-md-6">
            <label for="inputName" class="form-label">{{ .formname }}</label>
            <input type="text" name="name" class="form-control" id="inputName" required>
          </div>
        <div class="col-md-6">
          <label for="inputEmail" class="form-label">{{ .formemail }}</label>
          <input type="email" name="email" class="form-control" id="inputEmail" required>
        </div>

        <div class="col-12">
          <label for="FormSelect" class="form-label"> {{ .formopt }}</label>
          <select multiple class="form-control" name="opt[]" id="FormSelect">
            <option value="{{ .opt1 }}" >{{ .opt1 }}</option>
            <option value="{{ .opt1 }}" >{{ .opt2 }}</option>
            <option value="{{ .opt1 }}" >{{ .opt3 }}</option>
            <option value="{{ .opt1 }}" >{{ .opt4 }}</option>
            <option value="{{ .opt1 }}" >{{ .opt5 }}</option>
          </select>
        </div>

        <div class="col-12">
          <label for="formFile" class="form-label"> {{ .formfile }} </label>  
          <input type="file" name="formFile" class="form-control-file" id="formFile">
        </div>
        
        <div class="col-12">
          <label for="validationTextarea" class="form-label">{{  .formmsg }}</label>
          <textarea class="form-control" name="message" id="validationTextarea" placeholder="Ihre Nachricht..."> </textarea>
        </div>
         
         
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary1">{{ .formbtn }}</button>
        </div>
      </form>
      <br>
      <div>
        <p style="font-size: .8rem; line-height: .5;"> „ {{ .formcookietext }} “</p>
      
      </div>
      </div>
 
</div>

</section>
{{end}}
{{ end }}
