{{ $data := index site.Data site.Language.Lang }}

{{ if $data.homepage.homepage.enable }}
{{ with $data.homepage.homepage }}
<section id="tariff">
    <div class="container">
      <div class="section-title text-center">
        <h2>{{  .tarifftitle }} </h2>
        </div>
          
        
        <div class="row">
            {{ range  .price }}
            <div class="col-md-6 card text-center" style=" background-color: #fafafa; border: none; padding: 15px;" >
                <div class="card-body" style="background-color: #fff; border: solid black 1px; border-radius: 2px;  ">
                  <h5 class="card-title"><b> {{ .title }}  </b></h5>
                  <h6 class="card-subtitle mb-2 text-muted"> {{ .cost }} </h6>
                  <p class="card-text"> {{ .description }} </p>
                </div>
              </div>
              {{end}}
            </div>
        

        <div class="row">
          <div class="col-md-12 card text-center" style=" background-color: #fafafa; border: none; padding: 15px;" >
            <div class="card-body" style="background-color: #fff; border: solid black 1px; border-radius: 2px;">
              <h6 class="card-subtitle mb-2 text-muted"><b>*</b> {{ .avgs1 }} </h6>
              <h6 class="card-subtitle mb-2 text-muted"> <b>**</b> {{ .avgs2 }} </h6>
              <p class="card-text"> <a href="{{ .avgslink }}" style="text-decoration: none; color: #707070;" target="_blank"> {{ .avgslink }} </a></p>
            </div>
          </div>
        </div>
        <br><br>
      </div>
    
    </section>
    {{end}}
{{ end }}
